html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#stream {
  width: 66%;
  margin: 0 auto;
}

#top {
  margin: 0 auto;
  font-size: 100px;
  color: white;
  background-color: black;
  text-shadow: 3px 0px 0px #48EBFF;
}

.fit {
  width: 50%;
}
